<a href="https://colab.research.google.com/github/a0226813791/pro/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import requests
from io import StringIO
import pandas as pd
import numpy as np

def crawl_price(date):
    r = requests.post('http://www.twse.com.tw/exchangeReport/MI_INDEX?response=csv&date=' + str(date).split(' ')[0].replace('-','') + '&type=ALL')
    ret = pd.read_csv(StringIO("\n".join([i.translate({ord(c): None for c in ' '})
                                        for i in r.text.split('\n')
                                        if len(i.split('",')) == 17 and i[0] != '='])), header=0)
    ret = ret.set_index('證券代號')
    ret['成交金額'] = ret['成交金額'].str.replace(',','')
    ret['成交股數'] = ret['成交股數'].str.replace(',','')
    return ret

In [20]:
type(data)

dict

In [24]:
close = pd.DataFrame({k:d['收盤價'] for k,d in data.items()}).transpose()
close.index = pd.to_datetime(close.index)
close

證券代號,1101,1101B,1102,1103,1104,1108,1109,1110,1201,1203,...,9940,9941,9941A,9942,9943,9944,9945,9946,9955,9958
2023-07-17,36.75,48.10,43.90,21.40,31.15,16.50,17.30,19.55,19.80,41.45,...,29.15,218.50,50.20,149.00,91.30,21.50,35.45,13.70,23.30,149.00
2023-07-14,37.00,48.00,43.90,21.25,30.55,16.55,17.30,19.35,19.80,41.20,...,29.50,215.00,50.20,151.50,92.10,21.20,35.55,13.85,23.50,144.00
2023-07-13,36.80,47.95,43.80,21.25,29.95,16.55,17.35,19.20,19.70,41.60,...,29.15,212.50,50.30,152.50,91.40,20.85,35.20,13.70,23.10,144.50
2023-07-12,36.60,47.85,43.95,21.45,30.15,16.20,18.05,18.90,19.85,42.15,...,29.10,210.50,50.30,154.50,91.00,20.85,35.25,14.05,23.05,143.00
2023-07-11,36.55,47.75,43.90,21.60,29.90,16.55,18.05,19.15,19.95,42.20,...,29.20,209.00,50.20,149.00,94.20,21.15,35.70,14.00,23.00,140.50

In [15]:
import datetime
import time

data = {}
n_days = 9
date = datetime.datetime.now()
fail_count = 0
allow_continuous_fail_count = 5
while len(data) < n_days:

    print('parsing', date)
    # 使用 crawPrice 爬資料
    try:
        # 抓資料
        data[date.date()] = crawl_price(date)
        print('success!')
        fail_count = 0
    except:
        # 假日爬不到
        print('fail! check the date is holiday')
        fail_count += 1
        if fail_count == allow_continuous_fail_count:
            raise
            break

    # 減一天
    date -= datetime.timedelta(days=1)
    time.sleep(10)

parsing 2023-07-18 02:52:15.525252
fail! check the date is holiday
parsing 2023-07-17 02:52:15.525252
success!
parsing 2023-07-16 02:52:15.525252
fail! check the date is holiday
parsing 2023-07-15 02:52:15.525252
fail! check the date is holiday
parsing 2023-07-14 02:52:15.525252
success!
parsing 2023-07-13 02:52:15.525252
success!
parsing 2023-07-12 02:52:15.525252
success!
parsing 2023-07-11 02:52:15.525252
success!

KeyboardInterrupt: ignored

https://www.finlab.tw/python-%E6%99%82%E9%96%93%E5%BA%8F%E5%88%97%E5%AF%A6%E4%BD%9C%EF%BC%81/